.content__box {
    height: 540px;
    background-image: 
    linear-gradient(90deg, rgba(94, 57, 216, 0.5) 0%, rgba(87, 89, 199, 0.5) 50%, rgba(32, 55, 104, 0.492) 100%),
    url(/images/content-part/piqsels.com-id-zvlmu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__text-part {
    width: 815px;
    height: 300px;
    color: #ffffff;
    text-align: center;
    
}
.content__text-part h2 {
    font-size: 16px;

}
.content__text-part h1 {
    font-size: 58px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 22px;
}
.content__text-part p {
    font-size: 20px;
    font-weight: 0;
    margin-top: 22px;
    color: rgb(158, 156, 156)

}